<div class="span4">
  aaaaa
</div>

<div class="span8">
  <div class="btn-toolbar">

    <a href="/login" class="btn">
      <i class="icon-user"></i>
          login
      </a>
    <!-- /btn-group -->
    <a href="/register" class="btn">
      <i class="icon-plus-sign"></i>
      注册 
    </a>
  </div>
</div>
