<div class="span2 navbar-inner">
  aaaaa
</div>

<div class="span8 navbar-inner">
  <div class="btn-toolbar">
    <!-- /btn-group -->
    <a class="btn">
      <i class="icon-user"></i>
          login
      </a>
    <!-- /btn-group -->
    <a class="btn">
      <i class="icon-plus-sign"></i>
      注册 
    </a>
  </div>
  <!-- /btn-toolbar -->
</div>
