已有题目
<% @depots.each do |depot| %>
  <div class="media" id="dep_<%= depot.id %>">
    <div class="pull-left">
    </div>
    <div class="media-body">
      <h4 class="media-heading">
      <%= depot.title %>
    </h4>
    <%= link_to "移除", putout_assignment_path(:depot=>depot,:assignment=>@assignment), :class=>"btn", :remote => true %>
  </div>
</div>
<% end %>
