sidebar
<div class="btn-group btn-group-vertical">
 <a href="" class="btn">add new</a>
 <a href="" class="btn">edit a</a>
 <a href="" class="btn">list all</a>
 <a href="" class="btn">a</a>
 <a href="" class="btn">a</a>
</div>
