<h3>Listing categories</h3>
<ul>
<% @categories.roots.each do |category| %>
  <li><%= link_to h(category.title), category %>
  <% unless category.children.empty? %>
    <ul>
      <% category.children.each do |subcategory| %>
        <li><%= link_to h(subcategory.title), subcategory %> </li>
      <% end %>
    </ul>
  <% end %>
  </li>
<% end %>
</ul>

<% @categories.arrange_as_array.each do |category| %>

<%= category.title %>

<% end %>

<%= link_to 'New Category', new_category_path %>
