# encoding: utf-8
<div class="control-group">
  <label class="control-label">答案</label>
  <div class="controls"><div class="form-inline">
    <%= f.radio_button :keys, "T" %><label for="depot_keys_t">正确</label>
    <%= f.radio_button :keys, "L" %><label for="depot_keys_f">错误</label>
  </div>
</div>
</div>
