<h1>Listing depots</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @depots.each do |depot| %>
  <tr>
    <td><%= link_to 'Show', depot %></td>
    <td><%= link_to 'Edit', edit_depot_path(depot) %></td>
    <td><%= link_to 'Destroy', depot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Depot', new_depot_path %>
