<ul class = "media-list">
  <li class = "media">
  <a class = "pull-left" href="#">
    <%= user_face(user) %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= user.name %></h4>
    <div class="media">aaaaaaaaaaa
      
    </div>
  </div>
  </li>
</ul>
