<%= render :partial => "navbar" %>
<div id="create"></div>
<div id="search"></div>
<% @messages.each do |m| %>
   <%= m.title %>
<% end %>
<% @circles_group.each do |cg| %>
  <%= cg.title %>
<% end %>
